{% extends "core/base.html" %}

{% load static %}


{% block content %}
    <h2>Import Treasure</h2>
    <form action="{% url 'mass_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" />
        <input type="submit" name="submit" value="Upload" class="btn btn-primary" />
    </form>

    <h2>Generate Random Treasure</h2>
    <form action="{% url 'random_treasure' %}" method="post">
        {% csrf_token %}
        <select name="num" class="custom-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="submit" name="submit" value="Random" class="btn btn-primary" />
    </form>

    {% if treasures %}
        <div class='treasure-wrapper'>
            <h2 class="table-header">Treasures Obtained</h2>
            <ul class="list-group">
                {% for treasure in treasures %}
                    <li class="list-group-item treasure">
                        <a class='random-detail' target="_blank" href="{% url 'item' item_detail=treasure.page pk=treasure.data.pk %}">
                            {% if treasure.data.name %}
                                <div class='treasure-name'>{{ treasure.data.name }}</div>
                            {% endif %}
                            {% if treasure.data.item %}
                                <div class='treasure-name'>{{ treasure.data.item }}</div>
                            {% endif %}
                            {% if treasure.data.effect_description %}
                                <div class='treasure-effect'><div class='effect'>Effects:</div> {{ treasure.data.effect_description }}</div>
                            {% endif %}
                            {% if treasure.data.school %}
                                <div class='treasure-school'><div class='school'>School of magic</div>{{ treasure.data.school }}</div>
                            {% endif %}
                            {% if treasure.data.target %}
                                <div class='treasure-effect'><div class='effect'>Spell target: </div>{{ treasure.data.target }}</div>
                            {% endif %}  
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
