<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th colspan="3" class='table-type'>{{ table }}</th>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <th>
                School
            </th>
            <th>
                Target
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.school }}</td>
                <td>{{ item.target }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>