certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.3
django-excel==0.0.9
future==0.16.0
gunicorn==19.7.1
idna==2.6
lml==0.0.1
olefile==0.44
pew==0.1.26
Pillow==4.2.1
pipenv==5.2.0
psycopg2==2.6.2
pyexcel==0.5.3
pyexcel-io==0.4.4
pyexcel-webio==0.1.2
pyexcel-xls==0.4.0
pythonz-bd==1.11.4
pytz==2017.2
requests==2.18.4
resumable-urlretrieve==0.1.5
texttable==0.9.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
whitenoise==3.3.0
xlrd==1.0.0
xlwt==1.2.0
