Django==2.0
Pillow==4.2.1
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
future==0.16.0
gunicorn==19.7.1
idna==2.6
lml==0.0.1
olefile==0.44
pew==0.1.26
pipenv==5.2.0
psycopg2==2.6.2
pythonz-bd==1.11.4
resumable-urlretrieve==0.1.5
texttable==0.9.1
urllib3==1.22
virtualenv-clone==0.2.6
virtualenv==15.1.0
whitenoise==3.3.0
xlrd==1.1.0
pandas==0.23.4
django-elasticsearch-dsl==0.5.1
elasticsearch==6.3.1
elasticsearch-dsl==6.1.0
