<table cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Effect</th>
        {% if item_detail %}
            <th></th>
            <th></th>
        {% endif %}
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.effect }}</td>
            {% if item_detail %}
                <td><a href="{% url 'item' item_detail=item_detail pk=item.pk %}">Details</a></td>
                <td><a href="{% url 'delete_item' item_delete=item_detail pk=item.pk %}">Delete</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if item_detail %}
    <div class='pagination-wrapper'>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" class="previous">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <div class="page-link" aria-label="Previous">
                           <span aria-hidden="true">&laquo;</span>
                         </div>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active pagination-number"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item pagination-number"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <div class="page-link" aria-label="Previous">
                           <span aria-hidden="true">&raquo;</span>
                         </div>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
