{% extends "core/base.html" %}

{% load static %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="crud-wrapper">
        <a href="{% url 'edit_item' item_edit='spells' pk=object.pk %}">Update</a>
        <a href="{% url 'delete_item' item_delete='spells' pk=object.pk %}">Delete</a>
    </div>
    <div class='treasure-wrapper'>
        <ul class="list-group">
            <li class="list-group-item">School: {{ object.school }}</li>
            <li class="list-group-item">Cost: {{ object.cost }}</li>
            <li class="list-group-item">Target: {{ object.target }}</li>
            <li class="list-group-item">Book Ammends: {{ object.book_ammends }}</li>
        </ul>
    </div>
{% endblock %}