{% load static %}

<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="{% static "styles/main.css" %}">
    	<link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    </head>
    <body>
    	<img src="{% static "assets/images/logo.png" %}" class="img-fluid">
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="{% url 'frostgrave_main' %}">Home</a></li>
                    <li><a href="{% url 'items' item='trinket' %}">Trinkets</a></li>
                    <li><a href="{% url 'items' item='scroll' %}">Scrolls</a></li>
                    <li><a href="{% url 'items' item='grimoire' %}">Grimoire</a></li>
                    <li><a href="{% url 'items' item='equipment' %}">Equipment</a></li>
                    <li><a href="{% url 'frostgrave_upload_sheet' %}">Upload</a></li>
                </ul>
            </div>
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>