{% load static %}

<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="{% static "styles/main.css" %}">
    	<link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    </head>
    <body>
    	<img src="{% static "assets/images/logo.png" %}" class="img-fluid">
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="{% url 'frostgrave_main' %}">Home</a></li>
                    <li><a href="{% url 'items' item='trinkets' %}">Trinkets</a></li>
                    <li><a href="{% url 'items' item='potions' %}">Potions</a></li>
                    <li><a href="{% url 'items' item='adventurers-gear' %}">Adventurers Gear</a></li>
                    <li><a href="{% url 'items' item='spells' %}">Spells</a></li>
                    <li><a href="{% url 'items' item='equipment' %}">Equipment</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>