{% load static %}

<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="{% static "styles/main.css" %}">
    	<link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    </head>
    <body>
    	<img src="{% static "assets/images/logo.png" %}" class="img-fluid">
        <a href="{% url 'frostgrave_main' %}">Home</a>
        <a href="{% url 'items' item='trinkets' %}">Trinkets</a>
        <a href="{% url 'items' item='potions' %}">Potions</a>
        <a href="{% url 'items' item='adventurers-gear' %}">Adventurers Gear</a>
        <a href="{% url 'items' item='spells' %}">Spells</a>
        <a href="{% url 'items' item='equipment' %}">Equipment</a>
        {% block content %}{% endblock content %}
    </body>
</html>