{% extends "core/base.html" %}

{% load static %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="crud-wrapper">
        <a href="{% url 'edit_item' item_edit='trinket' pk=object.pk %}">Update</a>
        <a href="{% url 'delete_item' item_delete='trinket' pk=object.pk %}">Delete</a>
    </div>
    <div class='treasure-wrapper'>
        <ul class="list-group">
            <li class="list-group-item">Rarity: {{ object.rarity }}</li>
            <li class="list-group-item">Description: {{ object.description }}</li>
            <li class="list-group-item">Effect: {{ object.effect }}</li>
            <li class="list-group-item">Use: {{ object.use }}</li>
            <li class="list-group-item">School: {{ object.school }}</li>
            <li class="list-group-item">Cost: {{ object.cost }}</li>
        </ul>
	</div>
{% endblock %}