{% extends "core/base.html" %}

{% load static %}

{% block content %}
    <h1>{{ object.name }}</h1>
    
    <a href="{% url 'edit_item' item_edit='trinkets' pk=object.pk %}">Update</a>
    <a href="{% url 'delete_item' item_delete='trinkets' pk=object.pk %}">Delete</a>
    <div class='treasure-wrapper'>
        <ul class="list-group">
            <li class="list-group-item">Visual Description: {{ object.visual_description }}</li>
            <li class="list-group-item">Effects: {{ object.effect_description }}</li>
            <li class="list-group-item">Number Of Uses: {{ object.uses }}</li>
            <li class="list-group-item">School of Magic: {{ object.school_magic }}</li>
            <li class="list-group-item">Cost: {{ object.cost }}</li>
        </ul>
    </div>
{% endblock %}